<div class="container">
   <form [formGroup]="form" (submit)="log(form.value);reset()">
   <div class="form-group">
      <label for="firstName">First Name
      <input type="text" id="firstName" formControlName="firstName" maxlength="20">
      <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
         <div *ngIf="firstName.errors['required']">
            first name is required
   </div>
   <div *ngIf="form.get('firstName').errors['pattern']">
      first name should be characters
      </div>
    </div>
    </label>  
    <label for="lastName">last Name
      <input type="text" id="lastName" formControlName="lastName" maxlength="20">
      <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid">
         <div *ngIf="form.get('lastName').errors['required']">
            last name is required
   </div>
   <div *ngIf="form.get('lastName').errors['pattern']">
      last name should be characters
      </div>
    </div>
    </label>  
    <label for="email">email
      <input type="email" id="email" formControlName="email" maxlength="20">
      <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
         <div *ngIf="form.get('email').errors['required']">
            email is required
   </div>
   <div *ngIf="form.get('email').errors['pattern']">
      type email like this :- example@gmail.com
      </div>
    </div>
    </label>  
    <label for="pasword">password
      <input type="password" id="passoword" formControlName="password" maxlength="20">
      <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
         <div *ngIf="form.get('password').errors['required']">
            password is required
   </div>
   <div *ngIf="form.get('password').errors['pattern']">
      Invalid Password
      </div>
    </div>
    </label>  
    <button type="submit" id="btn-submit" [disabled]="!form.valid">Submit</button>
   
</div>