
<h1 style="color: chartreuse; text-align: center;"> Credex Technology</h1>
<nav>
    <a class="button" routerLink="/about-us">About-us</a> |
    <a class="button" routerLink="/contact-us">Contact-us</a> |
    <a class="button" routerLink="/directives">Directives</a> |
    <a class="button" routerLink="/DataFetch">DataFetch</a>
    <a class="button" routerLink="/login-form">LoginForm</a>
    <a class="button" routerLink="/todoadmin/todolist">Todo</a>
    <a class="button" routerLink="/pipes">Pipes</a>
    <a class="button" routerLink="lazy/notes">Lazy Notes</a>
    <a class="button" routerLink="lazy/print">Lazy Print</a>
    <a class="button" routerLink="/login">Login</a>
    <a class="button" routerLink="/signup">Sign Up</a>
  </nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
