<div class="container">
    <div class="row">
        <div class="col-md 6">
            <div class="card">
                <div class="text-center">
                    <h1 style="text-align: center;"> Signup System</h1>
                    <form [formGroup]="signupForm" (ngSubmit)="signup()">
                        <div class="mb-3">
                          <label  class="form-label">Name</label>
                          <input formControlName ="name" type="email" class="form-control" id="exampleInputEmail1">
                          
                        </div>
                        <div class="mb-3">
                            <label  class="form-label">Mobile Number</label>
                            <input formControlName ="mobile" type="number" class="form-control" id="exampleInputEmail1" >
                            
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input formControlName ="email" type="email" class="form-control" id="exampleInputEmail1" >
                            
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input formControlName ="password" type="password" class="form-control" id="exampleInputEmail1" >
                            
                          </div>
                        
                        
                        <button type="submit" class="btn btn-primary">Sign UP</button>
                        <a routerLink="/login">Already Member <b>Login</b></a>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>