<h1> {{title}}</h1>
<div class="main">
    <div class="list">
<input type="text" #newTodo />
<button (click)="addTodo(newTodo.value)">Add</button>
<table>
    <tr>
        <th>Label</th>
        <th>Priority</th>
        <th>Done</th>
    </tr>
    <tr *ngFor="let todo of todos">
        <td>{{todo.label}}</td>
        <td>{{todo.priority}}</td>
        <td>{{todo.done}}</td>
        <td>
            <button (click)="deleteTodo(todo)">Delete</button>
        </td>


    </tr>
</table>
</div>
</div>